@model  DropdownMD.Models.Country

@{
    ViewBag.Title = "Home Page";
}

<br />


@using (Html.BeginForm())
{
    <div>
        @Html.Label("Country")
        @Html.DropDownListFor(c => c.CountryId, ViewBag.CountryList as SelectList, "-- Select a Country--")
    </div>
    <br />
    <div>
        @Html.Label("State")
        <select id="ddlState" name="ddlState"></select>
    </div>
    <br />
    <div>
        @Html.Label("City")
        <select id="ddlCity" name="ddlCity"></select>
    </div>
}

@section Scripts
{

@Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(document).ready(new function () {

            $("#CountryId").change(function () {
                var countryid = $('#CountryId').val();

                $('#ddlState').html('');
                $('#ddlCity').html('');

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("BindState", "Home")',
                    data: { "CountryId": countryid },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json", success: successFunc
                });

                function successFunc(data, status) {
                    var items = '<option>--Select a State--</option>';
                    $.each(data, function (i, state) {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                    });

                    $('#ddlState').html(items);
                }

                $("#ddlState").change(function () {
                    var countryid = $('#CountryId').val();
                    var stateid = $('#ddlState').val();
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("BindCity", "Home")',
                        data: { "CountryId": countryid, "StateId": stateid },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: successFunc
                    });

                    function successFunc(data, status) {
                        var items = '<option>--Select a City--</option>';
                        $.each(data, function (i, city) {
                            items += "<option value='" + city.Value + "'>" + city.Text + "</option>";
                        });
                        $('#ddlCity').html(items);
                    }
                });
            });
        });
    </script>
}